@import 'nib'

global-reset();

// ## Variables
// PowerBulletin cyan/blue theme default
theme_color  = #4ccfea
colored_text = #fff
sprite_hue   = 0deg

// tint color is placed over the background among other images (translucent)
tint_color = rgba(240,240,240,0.65)

theme_alpha      = rgba(theme_color, .15)
dark_theme_color = darken(theme_color, 40%)
dark_text        = darken(theme_color, 60%)


// ## App
body
  font-family 'Helvetica Neue', 'Helvetica', sans-serif
  &.loaded
    header, footer
      opacity 1
      transition opacity .8s ease-out

  a
    text-decoration none

header
  position fixed
  top 15px
  right 27px
  z-index 10
  opacity 0
  a
    display inline-block
    margin 0 14px
    color #888
    font-size .9em
    transition all .12s ease-out
    &:hover
      color #666
      transform scale(1.04)
      transition none

h1
  text-indent -9999px
h3
  position fixed
  bottom 10px
  right 35px
  color #dadada
  font-size 1.5em
  z-index 10

.thread
  background-color theme_alpha
  border-bottom 1px solid darken(theme_alpha, 10%)
  transition background-color .3s ease-out
  color #333
  &:hover
    color #000
    background-color darken(theme_alpha, 20%)
    border-bottom 1px solid darken(theme_alpha, 30%)
    cursor pointer
    transition background-color 0

footer
  position fixed
  opacity 0
  bottom 13px
  left 0
  right 0
  text-align center
  z-index 99
  a
    font-size .85em
    color #ccc
    display inline-block
    transition all .5s ease-out .1s
    &:hover
      transform scale(1.07)
      transition all .01s ease-in
      color #aaa
      b
        color #999
    b
      color #aaa
